html, body, #root {
    height: 100vh;
    font-family: "Roboto", sans-serif;
}

#root {
    display: flex;
}

.root-layout {
    flex-grow: 1;

    display: grid;
    grid-template: auto 1fr auto / auto 1fr;
    gap: 1em;
}

header, footer {
    grid-column: 1 / 4;
}